/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  padding-top: 3rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
